{% extends 'base.html' %}

{% block head %}

<title>System Admin Home</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/homepage.css')}}">

{% endblock %}

{% block body %}
<body>
    <nav>
        <div class = "div left-nav">
            <h2>Cafe CaiPng</h2>
        </div>
        <div class = "middle-nav">
            <form class = "middle-nav" action="{{ url_for('search_results') }}" method="GET">
                <input type="text" name="query" placeholder="">
                <button type="submit">Search</button>
            </form>
        </div>
        <div class = "right-nav">
            <img src = "{{ url_for('static', filename='styles/icon.jpg')}}" class = "icon">
            <a href="{{ url_for('logout') }}">
                <h6>Logout</h6> </a>
        </div>
    </nav>
    <div class = "container">
        <div class = "left-side">
            <ul>
                <li><a href="{{ url_for('SysAdminHome') }}">Home</a></li>
                <li><a href="{{ url_for('render_createAcc') }}">Create Account</a></li>
            </ul>
        </div>
        <div class="min-container">
            <div class = "right-side">
                <div class="content">
                    <h3>All Accounts</h3>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Job</th>
                                <th>Role</th>
                                <th>Availability</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- no rooms to choose from if no launched rooms or if no created rooms -->
                            {% if (all_staff|length < 1) %}
                            <caption>No available staff currently. Please check back later.</caption>
                            {% else %}
                            <!-- iterate over all current created rooms -->
                            {% for staff in all_staff %}
                            <tr>
                                <td>{{ staff.username }}</td>
                                <td>{{ staff.job }}</td>
                                <td>
                                    {{ staff.userRole }}
                                </td>
                                <td>
                                    {{ staff.avail }}
                                </td>
                                <td><a href="{{ url_for('render_editAcc', id=staff.username) }}"><button class="button-1">Update</button></a></td>
                                <td><a href="{{ url_for('delete_acc', delete_id=staff.username) }}"><button class="button-danger">Delete</button></a></td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}
