{% extends 'base.html' %} 

{% block head %}

<title>System Admin Home</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/homepage.css')}}">

{% endblock %}

{% block body %}
<style> 
    #new_account_header {
        padding:10px;
        margin-top:50px;
        margin-left: 465px;
        width: 350px;
        height: 70px;
        background-color: hsla(19, 87%, 9%, 0.936);
        color:blanchedalmond;
        text-align: center;
    }

    #new_account_container {
        padding-left: 50px;
        padding-top: 20px;
        margin: 0 auto;
        width: 350px;
        height: 400px;
        background-color: blanchedalmond;
        color: hsla(19, 87%, 9%, 0.936);
    }

    #new_account_container label{
        color:hsla(19, 87%, 9%, 0.936);
        font-weight: bold;
        font-size:17px;
    }

    #new_account_container input{
        color:hsla(19, 87%, 9%, 0.936);
        font-weight: bold;
        background-color: burlywood;
    }

    #new_account_container select{
        color:hsla(19, 87%, 9%, 0.936);
        font-weight: bold;
        background-color: burlywood;
    }
</style>

<nav>
    <div class = "div left-nav">
        <h2>CaiPeng</h2>
    </div>
    <div class = "right-nav">
        <img src = "{{ url_for('static', filename='styles/icon.jpg')}}" class = "icon">
    </div>
</nav>

<div id="new_account_header">
    <h1>All Accounts</h1>
</div>



<div id="new_account_container">
    <p>
        <h3>All Accounts</h3>
    </p>
    &nbsp;<br />
    
    <table >
        <thead>
            <tr>
                <th>Name</th>
                <th>Job</th>
                <th>Role</th>
                <th>Availability</th>
                <th>Update/Edit</th>
            </tr>
        </thead>
    
        <tbody>
    
            <!-- no rooms to choose from if no launched rooms or if no created rooms -->
            {% if (all_staff|length < 1) %}
            <caption>No available staff currently. Please check back later.</caption>
            {% else %}
            <!-- iterate over all current created rooms -->
            {% for staff in all_staff %}
            <tr>
                <!-- display room details if there are rooms with launched status -->
                
                <td>{{ staff.username }}</td>
                <td>{{ staff.job }}</td>
                <td>
                    {{ staff.userRole }}
                </td>
                <td>
                    {{ staff.avail }}
                </td>
                <td><a href="{{ url_for('render_editAcc', id=staff.username) }}">Update</a></td>
                
                
            </tr>
            {% endfor %}
            {% endif %}
            
        </tbody>  
    </table>
</div>
<div class="container mt-3" align="left">
    
    <a  href="{{ url_for('render_createAcc') }}">
        Create Account
    </a>
    <a  href="{{ url_for('logout') }}">
        Logout
    </a>
    
    
</div>


{% endblock %} 
